.savedmain{
    text-align: center;
    align-items: center;
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgb(97, 171, 203));
    height: 100%;
}
.h{
    text-decoration: underline yellowgreen;
    background-color: black;
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgb(93, 173, 200));
    color: white;
    top: 0;
}

.savedmain ul li{
    list-style-type: none;
    color:rgb(15, 15, 15);
    top: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.savedmain ul li img{

    width: 400px;
    height: 300px;
}
.savedmain ul {
    border: 1px solid white;
    width: 50%;
    margin-left: 20%;
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgb(115, 183, 212));
}
   